report {

  enabled = true
  file = 'tensorQTL_workflow_report.html'

}

trace {

  enabled = true
  file = 'tensorQTL_workflow_trace.txt'

}

process {
    withName: PrepateGeneExpressionFile {
        conda='/gpfs/space/home/a82371/.conda/envs/metaanalysis'
        executor='slurm'
        module='python/3.6.2'
        clusterOptions='--job-name=prepareGEBed -N 1 --ntasks-per-node=1 --mem=5G -t 00:06:00'
    }
}

process {
    withName: TabixGEBedFile {
        executor='slurm'
        module='tabix/2013-12-16'
        clusterOptions='--job-name=tabixGEBed -N 1 --ntasks-per-node=1 --mem=5000 -t 00:05:00'
    }
}

process {
    withName: GenerateVariantVCFFiles {
        executor='slurm'
        module='bcftools/1.10.2'
        clusterOptions='--job-name=makeVarVCFs -N 1 --ntasks-per-node=1 --mem=5000 -t 00:05:00' 
    }
}

process {
    withName: FilterSamplesFromVCF {
        executor='slurm'
        module='bcftools/1.10.2'
        clusterOptions='--job-name=filterVCFs -N 1 --ntasks-per-node=1 --mem=9G -t 01:10:00' 
    }
}

process {
    withName: MakeBFiles {
        errorStrategy='retry'
        maxRetries=5
        executor='slurm'
        module='plink-2.0'
        clusterOptions='--job-name=makeBfiles -N 1 --ntasks-per-node=1 --mem=1G -t 00:05:00'
    }
}

process {
    withName: TensorQTL {
        errorStrategy='retry'
        maxRetries=5
        executor='slurm'
        module='python/3.6.2:any/tensorqtl/1.0.6'
        clusterOptions='--job-name=cputensor -N 1 --ntasks-per-node=1 --mem=10G -t 00:20:00'
    }
}