

singularity.cacheDir = "$baseDir/singularity"



profiles {
  singularity_profile {
          singularity.enabled = true
          process.executor = 'slurm'
          }
  cluster_slurm {
          process.executor = 'slurm'
      }
}
process {
    withName: PrepateGeneExpressionFile {
        container = 'quay.io/fhcrc-microbiome/python-pandas'
        executor='slurm'
        clusterOptions='--job-name=prepareGEBed -N 1 --ntasks-per-node=1 --mem=5G -t 00:06:00'
    }
}

process {
    withName: TabixGEBedFile {
        container = 'biocontainers/tabix:v1.9-11-deb_cv1'
        executor='slurm'
        clusterOptions='--job-name=tabixGEBed -N 1 --ntasks-per-node=1 --mem=5000 -t 00:05:00'
    }
}

process {
    withName: GenerateVariantVCFFiles {
        executor='slurm'
        container = 'biocontainers/bcftools:v1.9-1-deb_cv1'
        clusterOptions='--job-name=makeVarVCFs -N 1 --ntasks-per-node=1 --mem=5000 -t 00:05:00' 
    }
}

process {
    withName: FilterSamplesFromVCF {
        container = 'biocontainers/bcftools:v1.9-1-deb_cv1'
        executor='slurm'
        clusterOptions='--job-name=filterVCFs -N 1 --ntasks-per-node=1 --mem=9G -t 01:10:00' 
    }
}

process {
    withName: MakeBFiles {
        errorStrategy='retry'
        container = 'biocontainer/plink2:alpha2.3_jan2020'
        maxRetries=5
        executor='slurm'
        clusterOptions='--job-name=makeBfiles -N 1 --ntasks-per-node=1 --mem=1G -t 00:05:00'
    }
}

process {
    withName: TensorQTL {
        container = 'francois4/tensorqtl:latest'
        errorStrategy='retry'
        maxRetries=5
        executor='slurm'
        clusterOptions='--job-name=cputensor -N 1 --ntasks-per-node=1 --mem=10G -t 00:20:00'
    }
}