// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  singularity_profile {
    singularity.enabled = true
  }
  tartu_hpc { includeConfig 'conf/tartu_hpc.config'}
}

report {

  enabled = true
  file = 'tensorQTL_workflow_report.html'

}

trace {

  enabled = true
  file = 'tensorQTL_workflow_trace.txt'

}

manifest {
  name = 'trans-tensorQTL_workflow'
}