/*
 * -------------------------------------------------
 *  nf-core/tensorQTL Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */



process {
     maxRetries = 5
     maxErrors = '-1'
     errorStrategy = 'retry' 

    withName: PrepateGeneExpressionFile {
        memory=5.GB
        time = 6.m
    
    }

    withName: TabixGEBedFile {
        memory=5000.MB 
        time = 5.m
    }


    withName: GenerateVariantVCFFiles {
        memory=1000.MB
        time = 2.m
        
    }


    withName: FilterSamplesFromVCF {
        memory=10.GB
        time = 6.h
        
    }


    withName: VcfToDosage {  
        memory=1000.MB
        time = 2.m
        
    }
     withName: FilterCovariates {  
        memory=5000.MB
        time = 3.m
        
    }

      withName: CorrectMissingDosage {  
        memory=5000.MB
        time = 3.m
        
    }

    withName: TensorQTL { 
        memory = {task.attempt < 2 ? 10.GB : 10.GB * task.attempt} 
        time= {task.attempt < 2 ? 4.m : 8.m * task.attempt } 
        
    }
}
