/*
 * -------------------------------------------------
 *  nf-core/tensorQTL Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */



process {
     maxRetries = 5
     maxErrors = '-1'
     errorStrategy = 'retry' 

    withName: PrepateGeneExpressionFile {
        memory=5.GB
        time = 6.m
    
    }

    withName: TabixGEBedFile {
        memory=5000.MB 
        time = 5.m
    }


    withName: GenerateVariantVCFFiles {
        memory = {task.attempt < 2 ? 5000.MB : 1.GB * task.attempt} 
        time= {task.attempt < 2 ? 2.m : 4.m * task.attempt }
        
    }


    withName: FilterSamplesFromVCF {
        memory = {task.attempt < 2 ? 30.GB : 15.GB * task.attempt} 
        time= {task.attempt < 2 ? 6.h : 5.h * task.attempt }
        
    }


    withName: VcfToDosage {  
        memory = {task.attempt < 2 ? 1.GB : 2.GB * task.attempt} 
        time= {task.attempt < 2 ? 3.m : 5.m * task.attempt } 
        
    }
     withName: FilterCovariates {  
        memory=1.GB
        time= {task.attempt < 2 ? 3.m : 4.m * task.attempt } 
    }

      withName: CorrectMissingDosage {  
        memory=1.GB
        time= {task.attempt < 2 ? 3.m : 4.m * task.attempt } 
    }

    withName: TensorQTL { 
        memory = {task.attempt < 2 ? 10.GB : 10.GB * task.attempt} 
        time= {task.attempt < 2 ? 4.m : 10.m * task.attempt } 
        
    }
}
