/*
 * -------------------------------------------------
 *  tensorQTL Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */
 
params {

  vcf_prefix_path = "${baseDir}/data/testing_data/GEUVADIS_chr1_212626194_212851227_testing_samples"
  covariates = "${baseDir}/data/testing_data/GEUVADIS_LCL_cells.covariates_added_sex_test_samples.txt"
  expression_file = "${baseDir}/data/testing_data/GEUVADIS.LCL_naive_test_samples.tsv"
  dataset = 'GEUVADIS_test_samples'
  sample_genotype_ids = "${baseDir}/data/testing_data/GEUVADIS_LCL_study_ids_test_samples.txt" 
  median_tpm_filtration_file = "${baseDir}/data/LCL_naive_median_tpm_filtered_genes.tsv.gz" 
  testing = true
  outputpath = './testing_results'
}

